{% extends 'base.html' %}
 {% block head_script %}
 <link rel="stylesheet" href="../static/login.css">
 {% endblock %}
{% block index %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">修改密码</div>
                <div class="panel-body">
                    <form action="/alterpwd" method="post" onsubmit="javascript:return confirm('您确认要修改密码吗？');">
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">旧密码</span>
                          <input type="password" class="form-control" placeholder="旧密码" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                          <span class="input-group-addon" id="basic-addon1">新密码</span>
                          <input type="password" class="form-control" name="password" placeholder="新密码" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                          <input type="reset" class="btn btn-danger" value="重置"  >
                          <input type="submit" class="btn btn-primary" value="提交" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}